* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para que el ancho y alto de los elementos incluyan el borde y el padding, lo que facilita el control de dimensiones.*/
    
}

body::before {  /*Inserta contenido detras del <body>*/
    content: '';  /*Se crea un elemento vacio*/
    position: fixed;/*Fija el Pseudo elemento para que no se mueva al hacer scroll*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/images/marco_verde.jpg') center/cover no-repeat;
    opacity: 1;
    z-index: -1;/*Coloca el pseudo-elemento detrás del contenido del cuerpo*/
    
    
}

/* Estructura general */
body {
    font-family: Arial, sans-serif;
    display: flex;  /*Define al <body> como un contenedor flex, lo que permite organizar su contenido de manera flexible*/
    flex-direction: column;  /*Organiza los elementos dentro del cuerpo en una columna,*/
    
    padding: 100px 20px 60px; /* Ajusta header y footer */
}