
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    height: auto;
    width: auto;
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1 1 300px;
    min-width: 200px; /* Evita que el div sea demasiado pequeño - RESPONSIVE*/
    height: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column; /* Organiza el contenido en columna */
    justify-content: space-between; /* Distribuye el contenido entre el inicio y el final */
}
.card img {
    width: 100%;
    height: 45%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-content {
    padding: 15px;
    text-align: left;
    flex-grow: 1; /* Deja que el contenido crezca para ocupar el espacio disponible */
}
.card-content h3 {
    margin-top: -5px;
    font-size: 1.4em;
    font-family: "Times New Roman"
}
.card-content p {
    margin-bottom: 10px;
    font-size: 1em;
    font-family: "Times New Roman";
    padding-bottom: 10px;
}
.card-button-container {
    display: flex;
    gap: 1em; /* Espacio entre los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    padding-bottom: 15px; /* Añade algo de espacio inferior */
}