.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    
}

.login-box {
    background: #ffffff;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}
.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 15px 10px; /* Aumenta el padding horizontal */
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background-color: #f9fafc;
    color: #333;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 15px; /* Ajuste para que no se superponga con el texto del input */
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: 0.3s;
}
.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
    top: -10px; /* Sube la etiqueta */
    left: 5px;
    font-size: 15px;
    color: #000000;
}
.button-loging {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link p {
    margin-bottom: 5px;
    font-size: 14px;
    color: #000000;
}
.register-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.register-link a:hover {
    color: #0056b3;
}
