<section class="content">
    <div class="card">
        <img src="{{blog.banner.url}}" alt="Imagen 1">
        <div class="card-content">
            <h3>Nuestros Cursos</h3>
            <p>
                {{blog.title}}
            </p>
            <p>
                {{blog.descripcion}}
            </p>
            <p>
                {{blog.created_date}}
            </p>
        </div>
        <div class="card-button-container">
            <a href="#" class="button">Botón 1</a>
            <a href="#" class="button">Botón 2</a>
        </div>
    </div>
</section>